name: Salesforce CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Salesforce CLI
        run: |
          npm install -g @salesforce/cli

      - name: Authenticate Salesforce Org
        run: |
          echo "${{ secrets.SF_AUTH_URL }}" > auth.txt
          sf auth:sfdxurl:store -f auth.txt -a DevOrg

      - name: Validate Deployment
        run: |
          sf project deploy validate --source-dir force-app --test-level RunLocalTests
